Notes for week2

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [ ]:
#to create a categorical summary using groupby
df.groupby('variable')[['variable to compare to1',
                        'variable to compare to2'
                        ]].agg(['min','mean','max'])
#This checks for the relationship between the variable and the variables to compare to
#We can also catch anomalies here
#Groupby allows us to see categorical splits which is not seen in correlations (linear relationships only seen)
# Best to use for categorical/discrete (or discrete numeric too) variables and .corr() or scatterplots for continuous variables
# if continuous numeric,  bin first then group

In [3]:
df.groupby('Duration')[['Pulse']].agg(['mean'])

               Pulse
                mean
Duration
15        102.000000
20        125.000000
25        152.000000
30        109.812500
45        107.485714
60        106.126582
75        122.500000
80        123.000000
90         93.750000
120       100.000000
150       101.500000
160       109.500000
180        93.666667
210       122.500000
270       100.000000
300       108.000000

In [4]:
df.groupby('Duration')[['Pulse']].agg(['min'])

         Pulse
           min
Duration
15          80
20          83
25         152
30          80
45          90
60          92
75         120
80         123
90          90
120        100
150         97
160        109
180         90
210        108
270        100
300        108

In [5]:
df.groupby('Duration')[['Pulse']].agg(['max'])

         Pulse
           max
Duration
15         124
20         153
25         152
30         159
45         149
60         136
75         125
80         123
90         100
120        100
150        107
160        110
180        101
210        137
270        100
300        108